<ion-content fullscreen="true">
  <div class="sumContainer">
    <h1>{{showTitle}}</h1>
    <p>{{sumHistory}}</p>
    <h1 class="animate__animated animate__headShake">
      {{ sum | number: '1.0-0'}}
    </h1>
  </div>
</ion-content>

<ion-footer class="calculatorContainer">
  <ion-grid fixed class="ion-text-center ion-justify-content-center">
    <ion-row class="buttonRow" *ngFor="let r of buttonList">
      <ion-col
        [ngClass]="b.special ? 'specialButton' : 'button'"
        *ngFor="let b of r"
        (click)="handleClick($event,b.value)"
      >
        {{ b.value }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
